{% extends "layout.twig" %}

{% block content %}
<section class="content">
    <h1 class="content__title">{{ the_title() }}</h1>
    <div class="content__richtext">{{ the_content() }}</div>
</section>
{% endblock %}
