{% extends "layout.twig" %}

{% block content %}
    <section>
        <h1>Search Results for "{{ search_query }}"</h1>
        {% if search_results %}
            <ul>
                {% for result in search_results %}
                    <li>
                        <a href="{{ result.url }}">{{ result.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </section>
{% endblock %}
