html {
  font-size: 100%;
  font-smooth: auto;
}

body {
  font-family: $sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(#333, 0.75);
  font-display: swap;
  font-size: 15px;
  line-height: 1.65;

  @include min(768px) {
    font-size: 16px;
  }

  @include min(1280px) {
    font-size: 18px;
  }
}

a {
  color: #63ccca;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

p,
ul,
ol,
blockquote {
  line-height: 1.65;
}

p {
  margin-bottom: 1.5rem;
}

p img {
  display: block;
  margin-top: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
  margin: 3rem 0 1.38rem;
  color: black;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  letter-spacing: -0.01em;
  line-height: 1.1;
  margin-top: 0;
  font-size: 48px;
  font-weight: 700;

  @include min(768px) {
    font-size: 60px;
  }

  @include min(1280px) {
    font-size: 72px;
  }
}

h2 {
  color: black;
  font-weight: 300;
  font-size: 36px;
}

h3 {
  font-size: 28px;
  font-weight: bold;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

small,
.text-small {
  font-size: 0.75rem;
}

ul,
ol {
  margin-bottom: 1.5rem;
}

ul {
  list-style-type: disc;
  margin: 15px 0 1rem;
  padding: 0 0 0 30px;
  font-size: 8px;
  display: block;
}

li {
  font-size: 18px;
  margin-bottom: 0.75rem;

  &:last-child {
    margin-bottom: 0;
  }
}
